.hero {
    width: 100%;
    height: 100vh;
    background-image: url('../Assets/photo-1604014237800-1c9102c219da.avif');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-content {
    position: absolute;
    top: 35%;
    left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 36rem;
}
.hero-content h1{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
}

.hero-content h1 strong {
    display: block;
    color: rgb(190 18 60);
    font-weight: 800;
}

.hero-content p {
    font-size: 1.25rem;
    line-height: 1.625;
    max-width: 32rem;
    margin-top: 1rem;
}

.hero-btn {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.hero-btn a {
    text-decoration: none;
    color: rgb(225 29 72);
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 0.75rem 3rem;
    background-color: #fff;
    border-radius: .25rem;
}

#hero-search-btn {
    background-color: rgb(225 29 72);
    color: #fff;
}

#hero-search-btn:hover {
    background-color: rgb(190 18 60);
}