.footer {
    width: 100%;
    background-color: rgb(243 244 246);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 100%;
    padding: 4rem 2rem;
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    color: rgb(13 148 136);
    display: flex;
    justify-content: center;
}

.footer-logo svg {
    height: 2rem;
}

.footer-content p {
    color: rgb(107 114 128);
    line-height: 1.625;
    text-align: center;
    max-width: 28rem;
    margin-top: 1.5rem;
}

.footer-content ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 2rem;
    align-items: center;
    margin-top: 3rem;
    font-weight: 500;
    color: rgb(107 114 128);
}

.social-icons {
    gap: 2rem;
}

.social-icons a {
    color: rgb(55 65 81);
    font-size: 1.5rem;
    transition: .15s ease-in-out;
}

.social-icons a:hover{
    color: rgb(107 114 128);
}